services:
  frontend:
    build: ./frontend
    ports:
      - "8000:80"

  api:
    build: ./api
    ports:
      - "8001:8001"
    volumes:
      - ./api:/app
  db:
    build: ./mysql
    ports:
      - "8002:3306"
    environment:
      MYSQL_DATABASE: ankyloscan
      MYSQL_ROOT_PASSWORD: root_password
