<section class="container">
    <h2 class="section-title">Mes Projets</h2>
    <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); gap: 1.5rem;">
        <div style="background: var(--box-color); padding: 1rem; border-radius: .5rem;">
            <img src="https://via.placeholder.com/300x200" style="width:100%; border-radius:.5rem;">
            <h3 style="margin-top:1rem;">Projet Web 1</h3>
            <a href="#" class="button" style="margin-top:1rem; font-size:.8rem;">Démo 👍</a>
        </div>
    </div>
</section>